
<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    <link rel="stylesheet" href="~/Content/kendo/kendo.default.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/kendo.common-material.min.css" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Cashier/Cashier-Layout.css" rel="stylesheet" />
    <title>Point Of Sale - Edds Waffle Pekanbaru</title>
</head>
<body>
    <div id="sidebar">
        <div class="welcome">
            WELCOME,<br>
            CASHIER
        </div>
        <div id="menu-sidebar">
            @Html.ActionLink("Point Of Sales", "Transaction", "Cashier", null, new { @class = "buttonSide button-transactionSide" })
            @Html.ActionLink("Sign Out", "LoginAuth", "Login", null, new { @class = "buttonSide button-signoutSide" })
        </div>
    </div>
    @RenderBody()
</body>
</html>